/* --------PROJECTO CARRO------- */
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
}



canvas{
    display: block;
    border: 1px solid black;
    /*max-height: calc(100vh - 1200px);
    max-width: 95vw;*/
    width: 90vw;
    background-image: url('./img/Back_AF-01.jpg');
    background-size: 100% 100%;
    
}


h1{
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 25px;
}
h1:hover{
    color: blue;
}

